
@{
    ViewData["Title"] = "Index";
}

<h1>Search Menu</h1>
<div>
    <a asp-controller="SearchLocation" asp-action="Index">Search Locations</a>
    <br />
    <a asp-controller="Customer" asp-action="Index">Search Customers</a>
    <br />
    <a asp-controller="ViewOrder" asp-action="Index">Search Orders</a>
</div>

