
@{
    ViewData["Title"] = "Index";
}

<h1>Search Menu</h1>
<div>
    <a asp-controller="SearchLocation" asp-action="Index">Display Locations</a>
    <br />
    <a asp-controller="SearchCustomer" asp-action="Index">Search Customers</a>
</div>

