@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to StoreManager!</h1>
<h6>A Gregory Y. Favrot Application</h6>

<p>
    StoreManager is an application that sales clerks can use to place orders. <br />
    To add a new customer, <a asp-controller="Customer" asp-action="Create">click here</a>. <br />
    To place an order <a asp-controller="PlaceOrder" asp-action="Index">click here</a>. <br />
    To search existing customers, orders, or locations, <a asp-controller="Search" asp-action="Index">click here</a>. <br />
    </p>

