@model Greg_Project_1.Models.PlaceOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Let's start a new order...</h1>

<div>
    <h4>I'll need to know the customer ID # and location ID #</h4>
    <p>Not sure of your customer ID #? <a asp-controller="Customer" asp-action="Index" target="_blank">Click here</a> to search for it in a new tab.</p>
    <p>Not sure of your location ID #? <a asp-controller="SearchLocation" asp-action="Index" target="_blank">Click here</a> to search for it in a new tab.</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustId" class="control-label"></label>
                <input asp-for="CustId" name="custid" min=@Convert.ToInt32(ViewData["minCust"]) max =@Convert.ToInt32(ViewData["maxCust"]) class="form-control" />
                <span asp-validation-for="CustId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocId" class="control-label"></label>
                <input asp-for="LocId" name="locid" min=@Convert.ToInt32(ViewData["minLoc"]) max =@Convert.ToInt32(ViewData["maxLoc"]) class="form-control" />
                <span asp-validation-for="LocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

