@model IEnumerable<Greg_Project_1.Models.PlaceOrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<!--
<table class="table">
    <thead>
        <tr>
            <th>
                Html.DisplayNameFor(model => model.CustId)
            </th>
            <th>
                Html.DisplayNameFor(model => model.LocId)
            </th>
            <th>
                Html.DisplayNameFor(model => model.OrdId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
foreach (var item in Model) {
        <tr>
            <td>
                Html.DisplayFor(modelItem => item.CustId)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.LocId)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.OrdId)
            </td>
            <td>
                Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
-->